<div class="row" class="container-fluid" style="padding-top:20px;">
    <input type="text" style="width:90%" name="search" id="search" class="btn btn-default" name="search" placeholder="Search..." >
    <input type="button" style="width:9.5%;"  class="btn btn-default" value="Search" onclick="search()">
</div>
<div class="row" class="container-fluid" style="padding-top:20px;">
    <a href="/category?category=Bbq" >
        <div id="category1" class="col-md-2">Bbq</div>
    </a>
    <a href="/category?category=Pasta" >
        <div id="category2" class="col-md-2">Pasta</div>
    </a>
    <a href="/category?category=Pub" >
        <div id="category3" class="col-md-2">Pub</div>
    </a>
    <a href="/category?category=Liquids" >
        <div id="category4" class="col-md-2">Liquids</div>
    </a>
    <a href="/category?category=Baking" >
        <div id="category5" class="col-md-2">Baking</div>
    </a>
    <a href="/category?category=Dinner" >
        <div id="category6" class="col-md-2">Dinner</div>
    </a>
</div>
<hr>


<div class="container">
    <div class="flex-row row">
        {{#posts}}
            <a href="/showPost?id={{id}}" style="color: inherit;">
                <div class="col-xs-6 col-sm-4 col-lg-3">
                    <div class="thumbnail" id="{{category}}">
                        <div class="caption" style="background-color: white;">
                            <h3>{{title}}</h3>
                            <p class="flex-text text-muted">{{description}}</p>
                            <div class="card-img-bottom" style=" color: #fff; height: 20rem; background: url(../uploads/{{image_path}}) center no-repeat; background-size: cover;">
                            </div>
                            <p class="flex-text text-muted">{{category}}</p>

                        </div>
                        <!-- /.caption -->
                    </div>
                    <!-- /.thumbnail -->
                </div>
            </a>
        {{/posts}}

    </div>
    <!-- /.flex-row  -->
</div>
<!-- /.container  -->

<style type="text/css">
    body {
        background-color: rgba(0, 0, 0, 0.03);
        padding-top: 15px;
        font-family: 'Lato', sans-serif;
    }
    .flex-row  {
        padding-left: 15px;
        padding-right: 15px;
    }

    @media only screen and (max-width : 480px){
        .flex-row > [class*='col-'] {
            width: 100%;
        }
        .flex-row  {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
</style>
