<div class="row" class="container-fluid" style="padding-top:20px;">
    <span>
    <input type="text" style="width:89%" name="search" id="search" class="btn btn-default" name="search"
           placeholder="Search...">
    <input type="button" style="width:9.5%;" class="btn btn-default" value="Search" onclick="search()">
        </span>
</div>
<div class="row" class="container-fluid" style="padding-top:20px;">
    <a href="/category?category=Bbq">
        <div id="category1" class="col-md-2 col">Bbq</div>
    </a>
    <a href="/category?category=Pasta">
        <div id="category2" class="col-md-2">Pasta</div>
    </a>
    <a href="/category?category=Pub">
        <div id="category3" class="col-md-2">Pub</div>
    </a>
    <a href="/category?category=Liquids">
        <div id="category4" class="col-md-2">Liquids</div>
    </a>
    <a href="/category?category=Baking">
        <div id="category5" class="col-md-2">Baking</div>
    </a>
    <a href="/category?category=Dinner">
        <div id="category6" class="col-md-2">Dinner</div>
    </a>
</div>
<h2 style="color:deepskyblue; text-align: center;">{{title}}</h2>
<hr>
<div class="container-fluid">
    <div style="float:left; text-align: center; width:49%; padding-right: 20px;">
        <h3>Ingredients</h3>
        {{#ingredient}}
            <div style="font-size: 16px; text-align: left;">
                <img src="/images/ingredient.png" width="20px" height="20px">
                {{image_path}}
                {{ingredient}} -
                {{amount}}
                {{unit}}
                <a style="float: right;" target="_blank"
                   href="https://www.amazon.ca/s/ref=nb_sb_noss_2?url=search-alias%3Daps&field-keywords={{ingredient}}">
                    <img src="/images/amazon.png" alt="Amazon" width="30px" height="auto"></a>
                <a style="float: right;" target="_blank" href="https://www.walmart.ca/search/{{ingredient}}"><img
                        src="/images/walmart.jpg" alt="Walmart" width="30px" height="auto"></a>
            </div>
            <hr>
        {{/ingredient}}
    </div>
    <div class="container-fluid" style="float:left; text-align: center; width:49%; padding-left: 40px;" >
        <img src="/uploads/{{image_path}}" width="400px" height="auto" style="text-align: center">
        <h3>Description</h3>
        <p>{{description}}</p>
    </div>
</div>
<hr>
<div style="float:left;">
    <h3 style="text-align: left;">Directions</h3>
    <p>{{directions}}</p>
</div>
